---
import { Image } from "astro:assets";
import AstroLogoDark from "@assets/images/astro-logo-dark.svg";
import barabLogoSimple from "@assets/images/barab-logo-simple.png";
import { FOOTER_NOTE,BUILD_DATE } from "astro:env/client";

const links = [
    { name: "Links", href: "https://baraban511.github.io" },
    { name: "CO2 internship", href: "https://data.barab.me" },
    { name: "Mail", href: "/antispam" },
];
---

<div
    class="bg-[#fbffee] flex flex-col md:flex-row w-full max-w-screen gap-8 md:gap-16 p-5 text-sm"
>
    <div class="flex-1">
        <div class="flex items-center gap-1">
            <Image src={barabLogoSimple} alt="barab. logo" class="h-6 w-auto" />
        </div>
        <div class="text-gray-500 mb-2 select-all">Learning developer</div>
        <a href="https://astro.build">
            <AstroLogoDark class="w-32"}/>
        </a>
    </div>

    <div class="mb-4">
        <div class="font-bold">Randoms links</div>
        <ul class="mt-2">
            {
                links.map((link) => (
                    <li class="mt-2">
                        <a
                            class="text-gray-500 hover:text-[#008080]"
                            href={link.href}
                        >
                            {link.name}
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>

    <div class="text-gray-500 space-y-2">
        <div class="text-xs">
            2026 barab.<br />
            Build date: {BUILD_DATE}<br />
            {FOOTER_NOTE}
        </div>

        <div class="flex items-center justify-start">
            <a
                href="https://github.com/Baraban511"
                class="flex hover:text-[#008080] items-center"
                aria-label="GitHub"
                >
                    <span class="tabler--brand-github w-6 h-6"></span></a
            ><iframe
                src="https://github.com/sponsors/Baraban511/button"
                title="Sponsor barab"
                height="32"
                width="114"
                class="ml-3 rounded-md"></iframe>
        </div>
    </div>
    <div class="text-gray-500 space-y-2 flex flex-col">
        <span class="tabler--xbox-a hover:text-[#008080] w-6 h-6" ></span>
        <span class="tabler--xbox-b hover:text-[#008080] w-6 h-6" ></span>
        <span class="tabler--xbox-x hover:text-[#008080] w-6 h-6" ></span>
        <span class="tabler--xbox-y hover:text-[#008080] w-6 h-6" ></span>
    </div>
</div>
