---
import { Icon } from "astro-icon/components";
const projects = [
    {
        icon: "tabler:keyboard",
        title: "baraboard",
        description:
            'A macropad made from scratch. <iframe src="https://collaborate.shapr3d.com/v/4Oa3S7JhNjqeqiLFoZJ6p" class="flex w-full h-[400px]" frameborder="0" allow="web-share; xr-spatial-tracking" loading="lazy" scrolling="no" referrerpolicy="origin-when-cross-origin" allowfullscreen></iframe>',
        build: ["file-icons:kicad"],
        link: "https://github.com/Baraban511/baraboard",
    },
    {
        icon: "mdi:nix",
        title: "brice",
        description:
            "My nixos config and ricing. With Hyprland, AGS and Walker. <img src='/brice.png'/>",
        build: [
            "tabler:brand-github",
            "simple-icons:hyprland",
            "simple-icons:zedindustries",
        ],
        link: "https://github.com/Baraban511/brice",
    },
    {
        icon: "tabler:calendar-code",
        title: "taquin",
        description:
            "A website to export your EcoleDirecte schedule to your calendar app with updates and more.",
        build: [
            "tabler:brand-svelte",
            "tabler:brand-tailwind",
            "tabler:brand-vite",
            "tabler:brand-tabler",
            "tabler:brand-cloudflare",
        ],
        link: "https://taquin.barab.me",
    },
    {
        icon: "tabler:database",
        title: "CO internship",
        description:
            "A small project made to discover React during an one week internship.",
        build: [
            "tabler:brand-react",
            "tabler:brand-tailwind",
            "tabler:brand-cloudflare",
            "tabler:brand-github-copilot",
        ],
        link: "https://data.barab.me",
    },
    {
        icon: "tabler:database",
        title: "Links & CDN",
        description: "Read the title.",
        build: [
            "tabler:brand-github",
            "tabler:brand-html5",
            "tabler:brand-css3",
        ],
        link: "https://links.barab.me",
    },
    {
        icon: "tabler:brand-astro",
        title: "This site",
        description:
            "A simple portfolio coded by me, but with big lacks of design.",
        build: [
            "tabler:brand-astro",
            "simple-icons:bun",
            "tabler:brand-tailwind",
            "line-md:iconify2-static",
            "tabler:brand-cloudflare",
        ],
    },
];
const skills = [
    "tabler:brand-javascript",
    "tabler:brand-bulma",
    "tabler:brand-nodejs",
    "tabler:brand-npm",
    "tabler:brand-debian",
    "tabler:brand-deno",
    "tabler:brand-vscode",
    "tabler:brand-spotify",
    "tabler:lemon-2",
    "mdi:arch",
];
---

<div class="flex flex-wrap gap-8 bg-[#fbffee] p-8">
    {
        projects.map((project) => {
            return (
                <div class="flex-1 min-w-fit  space-y-2 hover:shadow-md hover:shadow-[#008080] p-3 transition ease-in-out duration-300 rounded-md">
                    <div class="flex items-center space-x-4">
                        <div class="bg-[#008080] inline-block p-3 rounded-full text-white">
                            <Icon name={project.icon} class="w-10 h-10" />
                        </div>
                        <h2 class="text-2xl font-bold">{project.title}</h2>
                    </div>
                    <div class="flex flex-col gap-2">
                        <Fragment
                            class="text-xl"
                            set:html={project.description}
                        />
                    </div>
                    {project.build ? (
                        <h3 class="text-lg font-semibold">Made using</h3>
                    ) : null}
                    {project.build && (
                        <div class="flex flex-wrap">
                            {project.build.map((icon) => (
                                <div class="m-1">
                                    <Icon
                                        name={icon}
                                        class="hover:text-[#008080] w-6 h-6"
                                    />
                                </div>
                            ))}
                        </div>
                    )}
                    {project.link && (
                        <a class="block" href={project.link}>
                            <p class="text-gray-500 cursor-pointer hover:text-[#008080] inline-flex items-center group">
                                See
                                <Icon
                                    name="tabler:chevron-right"
                                    class="inline-block w-5 h-5 transition group-hover:translate-x-0.5"
                                    aria-hidden="true"
                                />
                            </p>
                        </a>
                    )}
                </div>
            );
        })
    }
</div>
<div class="text-center w-full">
    <p class="text-2xl font-bold px-2">I've also used or I'm still using:</p>
    <div class="flex flex-wrap items-center justify-center m-4 gap-4">
        {
            skills.map((skill) => (
                <Icon name={skill} class="hover:text-[#008080] w-6 h-6" />
            ))
        }
    </div>
</div>
